---
import LoaderScreen from "../components/LoaderScreen.astro";
import Page from "../layouts/Page.astro";
import { listBucketItems, getS3Data, FolderData } from "../utils/s3";

const content = await listBucketItems(import.meta.env.DB_BUCKET);	// all image data
const bucketData: FolderData = getS3Data(content);	// format data
---
<Page title="Home">
	<div class="loader-container absolute w-full h-screen left-0 top-0 bg-white">
		<LoaderScreen />
	</div>
	<main id="landing-content" class="w-full">
		{
			bucketData.landing.map((imgSrc) => <img class="w-full h-auto" src={imgSrc} alt="landing" />)
		}
	</main>
</Page>
<script>
	import gsap from 'gsap';
	let loaderTl = gsap.timeline({});
	loaderTl
		.to(".loader-container", {opacity: 0, duration: 1})
		.to("body", {overflow: 'auto'}, 0)
		.to(".loader-container", {display: 'none'}, 2)
		.pause();

	window.addEventListener('load', () => {
		loaderTl.resume();
	})
</script>