---
import Page from "../layouts/Page.astro";
import { getS3Data, FolderData } from "../utils/s3";

const bucketData: FolderData = await getS3Data();
---

<Page title="Home">
  <main id="landing-content" class="w-full">
    <aside class="text-center my-5">
      <ul class="list-none">
        {
          bucketData.folders.map((folder) => {
            if (folder !== "landing") {
              return (
                <li id={folder}>
                  <a href={folder}>{folder}</a>
                </li>
              );
            }
          })
        }
      </ul>
    </aside>
    {
      bucketData.landing.map((imgSrc) => (
        <img class="w-full h-auto" src={imgSrc} alt="landing" />
      ))
    }
  </main>
</Page>
