---
const { text, color, textSize } = Astro.props;
---

<div class="relative w-full h-auto">
  <div class="absolute inset-0 flex items-center justify-center">
    <p
      style={{ color: color }}
      class={`tracking-widest font-cursive text-${textSize}`}
    >
      {text}
    </p>
  </div>
  <svg
    class="w-full h-auto"
    viewBox="0 0 126 100"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      style={{ fill: color }}
      d="M126 0H0V100H126V0ZM6.5 5C6.5 3.61929 7.61929 2.5 9 2.5H11.5C12.8807 2.5 14 3.61929 14 5V12C14 13.3807 12.8807 14.5 11.5 14.5H9C7.61929 14.5 6.5 13.3807 6.5 12V5ZM2 16.5H124V83.5H2V16.5ZM30.5 2.5C29.1193 2.5 28 3.61929 28 5V12C28 13.3807 29.1193 14.5 30.5 14.5H33C34.3807 14.5 35.5 13.3807 35.5 12V5C35.5 3.61929 34.3807 2.5 33 2.5H30.5ZM49 5C49 3.61929 50.1193 2.5 51.5 2.5H54C55.3807 2.5 56.5 3.61929 56.5 5V12C56.5 13.3807 55.3807 14.5 54 14.5H51.5C50.1193 14.5 49 13.3807 49 12V5ZM72.5 2.5C71.1193 2.5 70 3.61929 70 5V12C70 13.3807 71.1193 14.5 72.5 14.5H75C76.3807 14.5 77.5 13.3807 77.5 12V5C77.5 3.61929 76.3807 2.5 75 2.5H72.5ZM91 5C91 3.61929 92.1193 2.5 93.5 2.5H96C97.3807 2.5 98.5 3.61929 98.5 5V12C98.5 13.3807 97.3807 14.5 96 14.5H93.5C92.1193 14.5 91 13.3807 91 12V5ZM114.5 2.5C113.119 2.5 112 3.61929 112 5V12C112 13.3807 113.119 14.5 114.5 14.5H117C118.381 14.5 119.5 13.3807 119.5 12V5C119.5 3.61929 118.381 2.5 117 2.5H114.5ZM6.5 88C6.5 86.6193 7.61929 85.5 9 85.5H11.5C12.8807 85.5 14 86.6193 14 88V95C14 96.3807 12.8807 97.5 11.5 97.5H9C7.61929 97.5 6.5 96.3807 6.5 95V88ZM30.5 85.5C29.1193 85.5 28 86.6193 28 88V95C28 96.3807 29.1193 97.5 30.5 97.5H33C34.3807 97.5 35.5 96.3807 35.5 95V88C35.5 86.6193 34.3807 85.5 33 85.5H30.5ZM49 88C49 86.6193 50.1193 85.5 51.5 85.5H54C55.3807 85.5 56.5 86.6193 56.5 88V95C56.5 96.3807 55.3807 97.5 54 97.5H51.5C50.1193 97.5 49 96.3807 49 95V88ZM72.5 85.5C71.1193 85.5 70 86.6193 70 88V95C70 96.3807 71.1193 97.5 72.5 97.5H75C76.3807 97.5 77.5 96.3807 77.5 95V88C77.5 86.6193 76.3807 85.5 75 85.5H72.5ZM91 88C91 86.6193 92.1193 85.5 93.5 85.5H96C97.3807 85.5 98.5 86.6193 98.5 88V95C98.5 96.3807 97.3807 97.5 96 97.5H93.5C92.1193 97.5 91 96.3807 91 95V88ZM114.5 85.5C113.119 85.5 112 86.6193 112 88V95C112 96.3807 113.119 97.5 114.5 97.5H117C118.381 97.5 119.5 96.3807 119.5 95V88C119.5 86.6193 118.381 85.5 117 85.5H114.5Z"
    >
    </path>
  </svg>
</div>
