---
import FilmSection from "./FilmSection.astro";
---

<nav class="min-h-10 w-full flex justify-center items-center py-2">
  <a href="/">
    <div class="w-16 overflow-hidden grid-flow-col auto-cols-auto grid">
      <FilmSection text="JD" textSize="2xl" color="white" />
    </div>
  </a>
</nav>
